1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

7) Print multiplication table of 24 using loop.

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [ ]:
#Task 1
sample_dict = {
    'Phsyics':82,
    'Math':65,
    'History':75
}
for key in sample_dict:
  print(key)

Phsyics
Math
History

In [ ]:
#Task 2
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    }
x = sum(sample_dict.values())
print(x)

361

In [ ]:
#Task 3
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

a = min(sample_dict, key=sample_dict.get)

print(a)

Math

In [ ]:
#Task 4

sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]

for key in keys:
  del sample_dict[key]
print(sample_dict.items())

dict_items([('age', 23), ('city', 'Baku')])

In [ ]:
#Task 5
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]

dict1 = {key: sample_dict[key] for key in keys}

print(dict1.items())

dict_items([('name', 'Khalid'), ('salary', 1000)])

In [ ]:
#Task 6
a = 0
b = 0
c = 0
while b < 10:
  a = int(input())
  c += a
  b += 1

average = c/a
print(average)

1
2
3
4
5
6
7
8
9
10
5.5

In [ ]:
#Task 7
i = 1
while i <= 10:
  print(24, "x", i, "=", 24 * i)
  i += 1

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [ ]:
#Task 8 !!!
n = int(input())
for i in range(1, n):
  if n == 1 or n == 0:
    f = 1
  a = i*(i - 1)
  f += a
print(f)

1
120

In [ ]:
#Task 9 (abc -> a+b+c)
a = input()
i = 0
sumnum = 0
while True:
   sumnum += int(a[i])
   i += 1
   if i>=len(a):
      break
print(sumnum)

568392
33

In [ ]:
#Task 10
a = input()
print(len(a))

2372783
7